/* PatientItem.css */

.patient-item {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 5px; /* 패딩 줄이기 */
  margin-bottom: 5px; /* 마진 줄이기 */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  cursor: pointer;
  height: auto; /* 높이 자동 조정 */
}

.patient-item:hover {
  background-color: #e0f7fa;
}

.patient-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* 남은 공간 채우기 */
}

.patient-info h3 {
  margin: 0;
  font-size: 14px; /* 폰트 크기 줄이기 */
  color: #333;
}

.patient-info p {
  margin: 0;
  font-size: 12px; /* 폰트 크기 줄이기 */
  color: #666;
}

.patient-name {
  font-weight: bold;
  color: #00796b;
}

.patient-id {
  display: block;
  color: #888;
}

.patient-actions {
  display: flex;
  align-items: center;
  margin-left: auto; /* 오른쪽 정렬 */
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px; /* 폰트 크기 줄이기 */
}
